# Pandas Quiz

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../Data/Titanic.csv')

## Question:

The average age for females who embarked from section C is 38.34 and the average age for males who embarked from secion C is 32.99 but the average age for all passangers who embarked from section C is 30.81. Assuming thers numbers are correct, Why did we get 30.81 for the average age of the passangers who embarked from section C?

In [2]:
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].mean()

Sex
female    28.344262
male      32.998841
Name: Age, dtype: float64

In [3]:
df[df['Embarked'] == 'C']['Age'].mean()

30.81476923076923

## Answer:

We got 30.81 because when calculating for the averages the .mean() method does not account for the NaN values in the dataframe. If it did account for the NaN values, we would git either a NaN result or a drastically different mean age.

In [4]:
df = df.dropna()
df[df['Embarked'] == 'C'].groupby('Sex')['Age'].count()

Sex
female    34
male      31
Name: Age, dtype: int64

In [5]:
sum(age for age in df[df['Embarked'] == 'C']['Age'])/len(df[df['Embarked'] == 'C']['Age'])

37.46153846153846